body {
    background: #f8f9fa;
    /* Fondo general por defecto */
}


body.bg-admin {
    background: linear-gradient(to right, #fff8e7, #fefae0);
}

body.bg-alumnos {
    background: linear-gradient(to right, #fff3f3, #f9e9ff);
}

body.bg-profes {
    background: linear-gradient(to right, #e3f2fd, #bbdefb);
}

.header {
    color: white;
    padding: 1.5rem;
    text-align: center;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-admin {
    background: #198754;
}

.header-alumnos {
    background: #ffc107;
    color: black;
}

.header-profes {
    background: #0d6efd;
}

.header-productos {
    background: #6f42c1;
}

.btn-back {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-weight: 500;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

.btn-back:hover {
    background: linear-gradient(to right, #2575fc, #6a11cb);
    transform: scale(1.05);
    color: white;
}

.menu-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: white;
}
.menu-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15) !important;
}